---
layout: compress
title: David A Roberts
author: David A Roberts
description: Homepage of David A Roberts
image: https://davidar.io/img/galahs.min.jpg
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include head.html %}
    <link rel="stylesheet" href="/fa/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.dark.min.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: rgba(0, 0, 0, 0.2)">
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>

          <!-- Collapsible wrapper -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand mt-2 mt-lg-0" href="#">
              David A Roberts
            </a>
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#main">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#posts">Posts</a>
              </li>
            </ul>
          </div>

          <!-- Right elements -->
          <div class="d-flex align-items-center">
            <a class="text-reset me-3" href="https://github.com/davidar">
              <i class="fab fa-github"></i>
              GitHub
            </a>
            <a class="text-reset me-3" href="https://www.instagram.com/davidar.io/">
              <i class="fab fa-instagram"></i>
              Instagram
            </a>
            <a class="text-reset me-3" href="mailto:&#x64;&#x40;&#x76;&#x69;&#x64;&#x72;&#x2e;&#x63;&#x63;">
              <i class="fas fa-envelope"></i>
              Contact
            </a>
          </div>
        </div>
      </nav>

      <div class="bg-image shadow-2-strong" style="background-image: url({{ page.image }}); height: 100vh">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.2)">
          <div class="container d-flex flex-column justify-content-between text-center h-100">
            <div></div>
            <div class="text-white">
              <div id="quote" style="transition:opacity 0.8s linear">
                <p id="quote-body" class="lead" style="text-shadow:0 1px 3px rgba(0,0,0,1)">INSUFFICIENT DATA FOR MEANINGFUL ANSWER</p>
                <p style="text-align:right">&mdash; <a id="quote-src" class="text-white" href="https://www.multivax.com/last_question.html" rel="nofollow">Multivac</a></p>
              </div>
            </div>
            <div class="mb-5">
              <a class="btn btn-outline-light btn-lg m-2" href="#main" role="button">Projects</a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main class="pt-5" id="main">
      <div class="container">
        <section class="text-center">
          <h4 class="my-4">Projects</h4>

          <div class="row pt-2">
            {% for project in site.data.projects %}
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card">
                <div
                  class="bg-image hover-overlay ripple d-flex justify-content-center align-items-center"
                  data-mdb-ripple-color="light"
                  style="height:15rem; {% if project.bg %}background:{{ project.bg }}{% endif %}"
                >
                  <img src="{{ project.image }}" style="max-height:15rem; {% if project.nomargin != true %}max-width:95%{% endif %}" class="img-fluid" loading="lazy" />
                  <a href="{{ project.url }}">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="{{ project.url }}" class="text-reset">{{ project.name }}</a>
                  </h5>
                  <p class="card-text">
                    {% for badge in project.badges %}
                      <span class="badge bg-primary">{{ badge }}</span>
                    {% endfor %}
                    {% if project.github %}
                    <span class="align-top">
                      <a class="github-button" href="https://github.com/{{ project.github }}" data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-size="large" data-show-count="true" aria-label="Star {{ project.github }} on GitHub">Star</a>
                    </span>
                    {% endif %}
                    <br/>
                    {{ project.text }}
                  </p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </section>

        <hr class="my-5" id="posts" />
        <section class="pt-4">
          <h4 class="mb-4 text-center">Posts</h4>
          <div class="row pt-2">
            {% for post in site.posts %}
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card">
                <div
                  class="bg-image hover-overlay ripple d-flex justify-content-center align-items-center"
                  data-mdb-ripple-color="light"
                  style="height:15rem; {% if post.bg %}background:{{ post.bg }}{% endif %}"
                >
                  <img src="{{ post.image }}" style="max-height:15rem" class="img-fluid" loading="lazy" />
                  <a href="{{ post.url }}">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="{{ post.url }}" class="text-reset">{{ post.title }}</a>
                  </h5>
                  <p class="card-text">{{ post.abstract | strip_html }}</p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </section>
      </div>
    </main>

    <footer class="bg-dark text-lg-start">
      <div class="text-center p-3">
        <p>
        &copy; 2007&ndash;{{ site.time | date: "%Y" }} <a href="mailto:&#x64;&#x40;&#x76;&#x69;&#x64;&#x72;&#x2e;&#x63;&#x63;">David A Roberts</a>.
        <br>
        <a href="https://creativecommons.org/licenses/by-sa/2.0/"><i class="fab fa-creative-commons"></i></a>
        Background photo by <a href="https://secure.flickr.com/photos/jim_bendon_1957/15262998101/">Jim Bendon</a>.
        </p>
      </div>
    </footer>

    <script type="text/javascript">var quotes={% include quotes.json %};{% include quotes.js %}</script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
