.align-left    { text-align: left; }
.align-right   { text-align: right; }
.align-center  { text-align: center; }
.align-justify { text-align: justify; }

pre {
    margin-bottom: 1.5em;
    color: #d0d0d0;
    background-color: #202020;
    overflow: auto;
    padding: 5px;
}

img {
    max-width: 100%;
}

h1 a {
    text-decoration: none;
    color: #666666;
}
