<link rel="icon" type="image/png" href="/favicon.png" />
<link rel="stylesheet" href="/blueprint-css/blueprint/screen.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="/blueprint-css/blueprint/print.css" type="text/css" media="print" />    
<!--[if lt IE 8]><link rel="stylesheet" href="/blueprint-css/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
<link rel="stylesheet" href="/blueprint-css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="/screen.css" type="text/css" media="screen, projection" />
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/quotes.js"></script>
