---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Homepage of David A Roberts">
    <meta name="author" content="David A Roberts">
    <link rel="icon" type="image/png" href="/favicon.png">

    <title>{% if page.title %}{{ page.title }} - {% endif %}David A Roberts</title>

    <style>
    {% include bootstrap.min.css %}
    html,body{background:url(/img/galahs.min.jpg) no-repeat center center fixed}
    {% include cover.min.css %}
    </style>
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">David A Roberts</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li {% if page.tab == "home" %} class="active" {% endif %}><a href="/">Home</a></li>
                  <li><a href="https://github.com/davidar">GitHub</a></li>
                  <li><a href="https://www.instagram.com/david0ar/">Instagram</a></li>
                  <li><a href="mailto:&#x64;&#x40;&#x76;&#x69;&#x64;&#x72;&#x2e;&#x63;&#x63;">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div id="content" class="inner cover">
            {{ content }}
          </div>

          <div class="mastfoot hidden-xs">
            <div class="inner">
              <p>
                &copy; 2007&ndash;{{ site.time | date: "%Y" }} <a href="mailto:&#x64;&#x40;&#x76;&#x69;&#x64;&#x72;&#x2e;&#x63;&#x63;">David A Roberts</a>.
                Background photo by <a href="https://secure.flickr.com/photos/jim_bendon_1957/15262998101/">Jim Bendon</a> (<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC BY-SA 2.0</a>).
                <br>
                Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.
              </p>
            </div>
          </div>

        </div>

      </div>

    </div>

    {% if page.tab == "home" %}<script type="text/javascript">var quotes={% include quotes.json %};{% include quotes.min.js %}</script>{% endif %}
  </body>
</html>
